@import-normalize;

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: #cccccc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-image: linear-gradient(
    -45deg,
    #090008 0%,
    #010025 50%,
    #090008 100%
  );
  background-repeat: no-repeat;
  overflow: hidden;
}

#__next {
  height: 100vh;
}

.App {
  height: 100%;
}
